<app-menu-administrativo></app-menu-administrativo>
<div class="container py-3">
  <div class="d-flex">
    <h1>Eventos</h1>
  </div>
  <hr>
  <form class="form-horizontal" [formGroup]="formulario">
    <div class="row">
      <div class="col-3">
        <label for="nome" class="control-label">Evento</label>
        <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Digite o nome do evento">
      </div>
      <div class="col-3">
        <label for="categoria" class="control-label">Categoria</label>
        <select class="form-control" formControlName="categoria" id="categoria">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
        </select>
      </div>
      <div class="col-3">
        <label for="data" class="control-label">Data</label>
        <input type="date" class="form-control" formControlName="data" id="data" placeholder="Digite a data do evento">
      </div>

    </div>
    <div class="row pt-3">
      <div class="col-5">
        <p class="m-0"><label for="descricao" class="control-label">Descrição</label></p>
        <textarea id="descricao" name="descricao" rows="4" cols="50" formControlName="descricao"></textarea>
      </div>
      <div class="col-5">
        <p class="m-0"><label for="roteiro" class="control-label">Roteiro</label></p>
        <textarea id="roteiro" name="roteiro" rows="4" cols="50" formControlName="roteiro"></textarea>
      </div>

    </div>
    <div class="row pt-3">
      <div class="col-3">
        <label for="qtdVagas" class="control-label">Quantidade de vagas</label>
        <input type="number" class="form-control" formControlName="qtdVagas" id="qtdVagas" placeholder="Digite o numero de vagas">
      </div>
      <div class="col-3">
        <label for="preco" class="control-label">Preço</label>
        <input type="number" class="form-control" formControlName="preco" id="preco" placeholder="Digite o numero de vagas">
      </div>
      <div class="col-3">
        <label for="pontoEmbarque" class="control-label">Ponto de Embarque</label>
        <select multiple class="form-control" formControlName="pontoEmbarque" id="pontoEmbarque">
          <option *ngFor="let pontoEmbarque of pontoEmbarques" [value]="pontoEmbarque.id">{{pontoEmbarque.descricao}}</option>
        </select>
      </div>

    </div>
    <div class="row pt-3">
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="salvarEvento()" [disabled]="!formulario.valid">Salvar</button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="limpar()">Limpar</button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </form>
</div>
