<app-menu-administrativo></app-menu-administrativo>
<div class="container py-3">
  <div class="d-flex">
    <h1>Eventos</h1>
  </div>
  <hr>
  <form class="form-horizontal" [formGroup]="formulario">
    <div class="row">
      <div class="col-3">
        <label for="evento" class="control-label">Evento</label>
        <input type="text" class="form-control" formControlName="evento" id="evento" placeholder="Digite o nome do evento">
      </div>
      <div class="col-3">
        <label for="categoria" class="control-label">Categoria</label>
        <select class="form-control" formControlName="categoria" id="categoria">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
        </select>
      </div>
      <div class="col-3">
        <label for="dataEvento" class="control-label">Data</label>
        <input type="date" class="form-control" formControlName="dataEvento" id="dataEvento" placeholder="Digite a data do evento">
      </div>
      <div class="col-3">
        <label for="qtdVagas" class="control-label">Quantidade de vagas</label>
        <input type="number" class="form-control" formControlName="qtdVagas" id="qtdVagas" placeholder="Digite o numero de vagas">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="salvarEvento()" [disabled]="!formulario.valid">Salvar</button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="limpar()">Limpar</button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </form>
</div>
