<app-menu-administrativo></app-menu-administrativo>
<div class="container py-3">
  <h1>Eventos</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Evento</th>
        <th scope="col">Data</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lavrinhas</td>
        <td>20/09/2023</td>
        <td>
          <button class="btn btn-secondary btn-block mx-2" type="submit" (click)="visualizar()">Visualizar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Chapada dos Veadeiros</td>
        <td>17/09/2023</td>
        <td>
          <button class="btn btn-secondary btn-block mx-2" type="submit" (click)="visualizar()">Visualizar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Camping Sana</td>
        <td>05/09/2023</td>
        <td>
          <button class="btn btn-secondary btn-block mx-2" type="submit" (click)="visualizar()">Visualizar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

