<app-menu-administrativo></app-menu-administrativo>
<div class="container py-3">
  <div class="d-flex justify-content-between">
      <h1>Eventos</h1>
        <button class="btn btn-secondary ml-auto" style="align-self: center;" type="submit" (click)="cadastarEvento()">+ Cadastrar
          Evento</button>
  </div>
  <hr>
  <form class="form-horizontal" [formGroup]="formulario">
    <div class="row">
      <div class="col-4">
        <label for="evento" class="control-label">Evento</label>
        <input type="text" class="form-control" formControlName="evento" id="evento" placeholder="Digite o nome do evento">
      </div>
      <div class="col-4">
        <label for="categoria" class="control-label">Categoria</label>
        <select class="form-control" formControlName="categoria" id="categoria">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
        </select>
      </div>
      <div class="col-4">
        <label for="dataEvento" class="control-label">Data</label>
        <input type="date" class="form-control" formControlName="dataEvento" id="dataEvento" placeholder="Digite a data do evento">
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-4">
        <label for="nome" class="control-label">Nome</label>
        <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Digite um nome">
      </div>
      <div class="col-4">
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" formControlName="email" id="email" placeholder="Digite um email">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-3">
        <label for="nome" class="control-label">CEP</label>
        <input type="text" class="form-control" formControlName="cep" id="cep"
               placeholder="Digite um cep valido" (blur)="consultaCEP()">
      </div>
      <div class="col-6">
        <label for="email" class="control-label">Endereço</label>
        <input type="text" class="form-control" formControlName="endereco" id="endereco"
               placeholder="Endereço">
      </div>
      <div class="col-3">
        <label for="email" class="control-label">Estado</label>
        <select  class="form-control" formControlName="estado" id="estado">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
        </select>
      </div>
    </div>-->
    <div class="row pt-3">
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="pesquisarEvento()">Pesquisar</button>
      </div>
      <div class="col-1 px-4">
        <button class="btn btn-secondary" type="submit" (click)="limparFiltro()">Limpar</button>
      </div>
    </div>
  </form>
  <hr>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Evento</th>
        <th scope="col">Categoria</th>
        <th scope="col">Data</th>
        <th scope="col">Vagas Totais</th>
        <th scope="col">Vagas Disponiveis</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos">
        <td>{{evento.id}}</td>
        <td>{{evento.nome}}</td>
        <td>{{evento.categoria}}</td>
        <td>{{evento.data}}</td>
        <td>{{evento.qtdVagas}}</td>
        <td>{{evento.qtdVagasDisponiveis}}</td>
        <td>
          <button class="btn btn-secondary btn-block mx-2" type="submit" (click)="visualizar(evento)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>
          </button>
          <button class="btn btn-secondary btn-block mx-2" type="submit" (click)="visualizar(evento)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
