.text{
  color: #f88424;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  width: auto;
}

.select-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  width: auto;
}

.form-container{
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
}

.confirmation-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  width: auto;
}

@media (max-width: 768px) {

}
