<app-menu-clientes></app-menu-clientes>
<div class="container">
  <h1>Meus Eventos</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Chile</td>
        <td>20/03/2024</td>
        <td>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Cancelar</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Fazer Checkin</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit" (click)="visualizar()">Visualizar</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Solicitar troca</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Cadastrar Acompanhante</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Argentina</td>
        <td>05/08/2024</td>
        <td>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Cancelar</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Fazer Checkin</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit" (click)="visualizar()">Visualizar</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Solicitar troca</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Cadastrar Acompanhante</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Camping em Ilha grande</td>
        <td>18/07/2024</td>
        <td>
          <button class="btn btn-secondary btn-block mx-1 " type="submit">Cancelar</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Fazer Checkin</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit" (click)="visualizar()">Visualizar</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Solicitar troca</button>
          <button class="btn btn-secondary btn-block mx-1" type="submit">Cadastrar Acompanhante</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
