<app-menu-administrativo></app-menu-administrativo>
<div class="container py-3">
  <h1>Vale da Lua</h1>
  <hr>
  <h3>Staff</h3>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cargo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Magno</td>
        <td>Guia</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Alex</td>
        <td>Fotografo</td>
      </tr>

    </tbody>
  </table>
  <hr>
  <h3>Clientes</h3>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">CPF</th>
        <th scope="col">RG</th>
        <th scope="col">Orgao Emissor</th>
        <th scope="col">Ponto de Embarque</th>
        <th scope="col">Status</th>
        <th scope="col">Observação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Joazinho</td>
        <td>14871684</td>
        <td>541656</td>
        <td>Detran</td>
        <td>Novo rio</td>
        <td>Quitado</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nazare</td>
        <td>12314</td>
        <td>32235</td>
        <td>Detran</td>
        <td>Novo rio</td>
        <td>Quitado</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Miguel</td>
        <td>7585679</td>
        <td>5365</td>
        <td>Detran</td>
        <td>Novo rio</td>
        <td>Quitado</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div>
      <button type="button" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet-fill" viewBox="0 0 16 16">
        <path d="M6 12v-2h3v2H6z"/>
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"/>
      </svg>
      Exportar para excel</button>
  </div>
</div>
