<app-menu-administrativo></app-menu-administrativo>
<div class="container">
  <div class="pt-3">
    <h1>Cadastar crédito</h1>
  </div>
  <hr>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">CPF</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-3">
      <label for="inputAddress" class="form-label">Telefone</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-3">
      <label for="inputEmail4" class="form-label">Numero do Pedido</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Valor</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-3">
      <label for="inputAddress" class="form-label">Observação</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-3">
      <label for="inputAddress" class="form-label">Evento</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>>
