<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestão</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-block">
                <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                  SAC
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button routerLink="/sac/solicatao-cliente" ngbDropdownItem>Solicitação dos clientes</button>
                  <button routerLink="/sac/credito-listar" ngbDropdownItem>Crédito</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-block">
                <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                  Clientes
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button routerLink="/clientes/listar" ngbDropdownItem>Clientes</button>
                  <button routerLink="/pedidos/listar" ngbDropdownItem>Pedidos</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-block">
                <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                  Eventos
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a class="nav-link" routerLink="/eventos/listar">Eventos</a>
                  <a class="nav-link" routerLink="/staff/listar">Staff</a>
                  <a class="nav-link" routerLink="/escala/listar">Escala</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-block">
                <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                  Financeiro
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button routerLink="/financeiro/estorno" ngbDropdownItem>Estornos</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <form class="d-flex mx-3">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="sair()">Sair</button>
      </form>
    </div>
  </div>
</nav>
