<app-menu-administrativo></app-menu-administrativo>
<div class="container pt-5">
  <h1>Melhores clientes</h1>
  <form>
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Evento </label>
          <select class="custom-select mx-3">
            <option selected>Selecione um evento</option>
            <option value="1">Chapada dos Veadeiros</option>
            <option value="2">Jalapão</option>
            <option value="3">Chike</option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label>Data Inicio </label>
          <input>
        </div>
        <div class="form-group col-md-12">
          <label>Data Fim </label>
          <input>
        </div>
      </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border">
        Limpar Filtro
      </button>
      <button class="btn btn-success mx-2">
        <span></span>
        Filtrar
      </button>
    </div>
  </div>
</form>
<hr>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade de Eventos</th>
      <th scope="col">Quanto gastou</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="">Goku</td>
      <td>9</td>
      <td>
        R$3450
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Naruto</td>
      <td>7</td>
      <td>
        R$2870
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pikachu</td>
      <td>6</td>
      <td>
        R$1800
      </td>
    </tr>
  </tbody>
</table>
</div>
