<app-menu-administrativo></app-menu-administrativo>
<div class="container py-3">
  <h1>Melhores clientes</h1>
  <hr>
<form class="row g-3">
  <div class="col-md-3">
    <label for="inputEmail4" class="form-label">Estado onde mora</label>
    <select id="inputState" class="form-select">
      <option selected>Selecione um estado</option>
          <option value="1">Rio de Janeiro</option>
          <option value="2">São Paulo</option>
          <option value="3">Minas Gerais</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputPassword4" class="form-label">Genero</label>
    <select id="inputState" class="form-select">
      <option selected>Selecione um genero</option>
          <option value="1">Masculino</option>
          <option value="2">Feminino</option>
          <option value="3">Outros</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputAddress" class="form-label">Faixa etaria</label>
    <select id="inputState" class="form-select">
      <option selected>Selecione uma faixa etaria</option>
          <option value="1">18 - 23</option>
          <option value="2">24 - 28</option>
          <option value="3">29 - 33</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputAddress2" class="form-label">Estado Civil</label>
    <select id="inputState" class="form-select">
      <option selected>Selecione um estado civil</option>
          <option value="1">Solteiro(a)</option>
          <option value="2">Casado(a)</option>
          <option value="3">Divorciado(a)</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputCity" class="form-label">Data Inicio</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Digite uma data inicial">
  </div>
  <div class="col-md-3">
    <label for="inputState" class="form-label">Data Fim</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Digite uma data final">
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Evento</label>
    <select id="inputState" class="form-select">
      <option selected>Selecione um evento</option>
          <option value="1">Serrinha do Alambari</option>
          <option value="2">Chapada dos Veadeiros</option>
          <option value="3">Vale da Lua</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Tipo de Evento</label>
    <select id="inputState" class="form-select">
      <option selected>Selecione um tipo evento</option>
          <option value="1">Trilhas</option>
          <option value="2">Viagem de final de semana</option>
          <option value="3">Viagem bate e volta</option>
    </select>
  </div>
  <div class="col-12">
    <div class="d-flex">
      <button class="btn btn-outline-light mr-auto border">
        Limpar Filtro
      </button>
      <button class="btn btn-outline-light mx-2">
        <span></span>
        Filtrar
      </button>
    </div>
  </div>
</form>

<hr>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade de Eventos</th>
      <th scope="col">Quanto gastou</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="">Goku</td>
      <td>9</td>
      <td>
        R$3450
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Naruto</td>
      <td>7</td>
      <td>
        R$2870
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pikachu</td>
      <td>6</td>
      <td>
        R$1800
      </td>
    </tr>
  </tbody>
</table>
</div>
